@{
    this.ViewData["Title"] = "Doctor Dashboard";
}
<br>
<div class="text-center">
    <h3 class="text-center"> Welcome to @this.ViewData["Title"]</h3>
    <p class="lead d-none d-sm-block">You can navigate from here:</p>
</div>
<hr />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <br />
        <div>
            <a asp-area="Doctor" asp-controller="Appointment" asp-action="Index" class="col-xl-3 col-sm-6 py-2" bg-light">Appointments</a>
        </div>
        <br />
    </div>
</div>